/*	
-------------------------
	게시판과 관련한 스타일
	작성자 : 박준화
	작성일 : 2021.04
-------------------------
*/
@charset "UTF-8";
#board{
	width:100%;
	padding-right:10px;
}
#board>h1{
	font-size:16pt;
	margin-bottom:20px;
	margin-top:20px;
}

#board #btn_zone{
	text-align: center;
	margin-top:10px;
	padding-top:10px;
	border-top:2px dotted #ff80c0;
	
}

#board form>label{
	display:inline-block;
	width:80px;
	text-align:left;
}
#board form>textarea{
	width:400px;
	height:300px;
	margin-top:3px;
}

#board form>input[name=subject]{
	width:314px;
}

#board #btn_zone>input[type=button]{
	border-radius:12px;
	padding-left:5px;
	padding-right:5px;
}

/*----검색 (search)------------- */
#board .find_zone{
	display:inline-block;
	float:right;
}

#board .title{
	border-top:2px solid #888;
	border-bottom:2px solid #888;
	padding-top:2px;
	padding-bottom:2px;
	margin-top:2px;
	background-color:#ccc;
}

#board .title>span, #board .item>span{
	display:inline-block;
}

#board .title>.no, #board .item>.no{ width:60px;}
#board .title>.subject, #board .item>.subject{ width:250px;}
#board .title>.date, #board .item>.date{ width:150px;}
#board .title>.mid, #board .item>.mid{ width:100px;}
#board .title>.hit, #board .item>.hit{ width:50px;}








